.table {
    max-height: 460px;
    overflow-y: auto;
}

.button {
    margin-bottom: 20px;
}

.btn_group {
    display: flex;
    align-items: center;
    gap: 10px;
}



.modal {
    background-color: transparent;
}